name: Deploy Website

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: site
        path: index.html

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: site

    - name: Deploy to GitHub Pages
      uses: actions/upload-pages-artifact@v3

  publish:
    needs: deploy
    runs-on: ubuntu-latest

    steps:
    - name: Publish
      uses: actions/deploy-pages@v4
