    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: site
        path: site

...

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: site

    - name: Deploy to GitHub Pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: site
